html, body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.titulo{
    display: flex;
    width: 100%;
}
.tituloJuan{
    position: absolute;
    font-size: 40px;
    margin: auto;
    right: 50%;
    animation: ease;
    animation-name: slideinTitle;
    animation-duration: 3s;
}

.cabecera{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.Menu2{
    display: flex;
    width: 90%;
    justify-content: center;
}

.Menu2 ul{
    display: flex;
    width: min-content;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
}

.Menu2 ul li{
    background-color: #A9ECFF;
    display: flex;
    align-items: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: auto;
    padding: 10px 15px;
    margin: 10px;
    height: 90%;
    border-radius: 20px;
    border: 1px solid black;
    transition: border 1s, background-color 1s, box-shadow 1s;
}

.Menu2 ul li:hover{
    background-color: #578ae7;
    border: 1px solid white;
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.41);
}
.Menu2 a{
    text-decoration: none;
    color: black;
}
.transiciones, .giros, .Menu2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;
}
/* responsividad */

@media screen and (min-width:375px) and (max-width:420px) {
    .transiciones, .giros, .Menu2{
        grid-template-columns: 1fr;
    } 
}

@media screen and (min-width:421px) and (max-width:800px) {
    .transiciones, .giros, .Menu2{
        grid-template-columns: 1fr 1fr;
    } 
}