
/* sección de giros */
#Giros{
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: space-around;
}

.card2{
    display: flex;
    width: 160px;
    height: 160px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #A9ECFF;
    margin: 20px;
    transition: transform 3s;
}

.boton{
    display: flex;
    justify-content: center;
}



/* keys de transiciones */
@keyframes llegadaDerecha {
    0%{
        opacity: 0;
        transform: translateX(1000px)
    }
    60%{
        opacity: 0.8;
        transform: translateX(-80px);
    }
    80%{
        opacity: 0,9;
        transform: translateX(15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes llegadaIzquierda {
    0%{
        opacity: 0;
        transform: translateX(-1000px)
    }
    60%{
        opacity: 0.8;
        transform: translateX(80px);
    }
    80%{
        opacity: 0,9;
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes llegadaArriba {
    0%{
        opacity: 0;
        transform: translateY(-1000px)
    }
    60%{
        opacity: 0.8;
        transform: translateY(80px);
    }
    80%{
        opacity: 0,9;
        transform: translateY(-15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes llegadaAbajo {
    0%{
        opacity: 0;
        transform: translateY(1000px)
    }
    60%{
        opacity: 0.8;
        transform: translateY(-80px);
    }
    80%{
        opacity: 0,9;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* giros */
.giro_completo, .giro_completo_rigth, .giro_completo_left, .mediogiro_completo, .mediogiro_rigth, .mediogiro_left {
    transition: transform 3s;
}
.giro_completo:hover{
   transform: rotate(360deg);
}
.giro_completo_rigth:hover{
    transform: rotate(360deg);
 }
 .giro_completo_left:hover{
    transform: rotate(-360deg);
 }
 .mediogiro_completo:hover{
    transform: rotate(180deg);
 }
 .mediogiro_rigth:hover{
    transform: rotate(180deg);
 }
 .mediogiro_left:hover{
    transform: rotate(-180deg);
 }
 .giro_infinito{
    transition: transform 3s;
 }
 .giro_infinito:hover{
    transform: rotate(36000deg);
 }

/* transiciones */
.slideRigth {
    animation-name: llegadaDerecha;
    animation-duration: 3s;
}
.slideLeft{
    animation-name: llegadaIzquierda;
    animation-duration: 3s;
}
.slideUp{
    animation-name: llegadaArriba;
    animation-duration: 3s;
}
.slideDown{
    animation-name: llegadaAbajo;
    animation-duration: 3s;

}

/* zoom */
.Zoom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 50%;
    padding: 20px 0;
    column-gap: 10%;
    row-gap: 15px;
}

.zoom_in:hover{
    transform: scale(1.5);
}

.zoom_out:hover{
    transform: scale(0.3);
}

/* nuevo */
@import url('https://fonts.googleapis.com/css?family=Corben:700');

h1 {
	font-family: 'Corben', cursive;
	font-size: 6rem;
	color: white;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

.hero {
	background-image: radial-gradient(50% 176%, #3aafdd 80%, #1a7199 100%);
	// min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	
	&__content {
		position: relative;
		align-self: center;
		padding: 3rem 0;
	}
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}



